# Exercícios: CRUD em Python com SQLite

In [61]:
# bibliotecas
from loguru import logger
import sqlite3
from faker import Faker
import random

Faker.seed(83)
faker = Faker()

#### Exercício 1: Criando e Atualizando Registros com Listas

**Objetivo:** Compreender as operações CRUD básicas em Python utilizando listas.

**Enunciado:**

1. Crie uma lista de dicionários para armazenar dados de produtos. Cada dicionário deve ter as chaves: `id`, `nome`, `preço` e `estoque`. Popule a lista com 5 produtos diferentes.
2. Adicione um novo produto à lista com as seguintes informações:
    - id: 6
    - nome: "Produto F"
    - preço: 15.50
    - estoque: 100
3. Atualize o preço de um produto escolhido e adicione 10 unidades ao estoque dele.
4. Remova um produto com base no seu `id`.
5. Imprima a lista final de produtos, mostrando apenas os produtos com estoque superior a 50 unidades.

**Dicas:**

- Use a função `append()` para adicionar novos produtos.
- Use a função `next()` ou uma compreensão de lista para encontrar e atualizar os dados.

In [11]:
# 1
logger.info('1')
produtos = [
    {'id': 1, 'nome': 'Notebook', 'preco': 2000.00, 'estoque': 100},
    {'id': 2, 'nome': 'Smartphone', 'preco': 1500.00, 'estoque': 52},
    {'id': 3, 'nome': 'Tablet', 'preco': 1000.00, 'estoque': 8},
    {'id': 4, 'nome': 'Impressora', 'preco': 800.00, 'estoque': 12},
    {'id': 5, 'nome': 'Monitor', 'preco': 1200.00, 'estoque': 6}
]
logger.debug(f'tamanho da lista {len(produtos)}')
logger.debug(f'Produtos: {produtos}')

# 2
logger.info('2')
novo_produto = {'id': 6, 'nome': 'Produto F', 'preco': 15.50, 'estoque': 100}
logger.debug(f'Novo produto: {novo_produto}')
produtos.append(novo_produto)
logger.debug(f'tamanho da lista {len(produtos)}')
logger.debug(f'Produtos: {produtos}')

# 3
logger.info('3')
logger.debug(f'Antigo estoque: {produtos[3]["estoque"]}') 
produtos[3]['estoque'] = 10
logger.debug(f'Novo estoque: {produtos[3]["estoque"]}') 

# 4
logger.info('4')
for produto in produtos:
    if produto['id'] == 4:
        produtos.remove(produto)

logger.debug(f'tamanho da lista {len(produtos)}')
logger.debug(f'Produtos: {produtos}')

# 5
logger.info('5')
produtos_estoque = [produto for produto in produtos if produto['estoque'] > 50]
produtos_estoque

2024-12-03 20:42:03.612 | INFO     | __main__:<module>:2 - 1
2024-12-03 20:42:03.614 | DEBUG    | __main__:<module>:10 - tamanho da lista 5
2024-12-03 20:42:03.615 | DEBUG    | __main__:<module>:11 - Produtos: [{'id': 1, 'nome': 'Notebook', 'preco': 2000.0, 'estoque': 100}, {'id': 2, 'nome': 'Smartphone', 'preco': 1500.0, 'estoque': 52}, {'id': 3, 'nome': 'Tablet', 'preco': 1000.0, 'estoque': 8}, {'id': 4, 'nome': 'Impressora', 'preco': 800.0, 'estoque': 12}, {'id': 5, 'nome': 'Monitor', 'preco': 1200.0, 'estoque': 6}]
2024-12-03 20:42:03.617 | INFO     | __main__:<module>:14 - 2
2024-12-03 20:42:03.617 | DEBUG    | __main__:<module>:16 - Novo produto: {'id': 6, 'nome': 'Produto F', 'preco': 15.5, 'estoque': 100}
2024-12-03 20:42:03.618 | DEBUG    | __main__:<module>:18 - tamanho da lista 6
2024-12-03 20:42:03.618 | DEBUG    | __main__:<module>:19 - Produtos: [{'id': 1, 'nome': 'Notebook', 'preco': 2000.0, 'estoque': 100}, {'id': 2, 'nome': 'Smartphone', 'preco': 1500.0, 'estoque': 52}, {'id': 3, 'nome': 'Tablet', 'preco': 1000.0, 'estoque': 8}, {'id': 4, 'nome': 'Impressora', 'preco': 800.0, 'estoque': 12}, {'id': 5, 'nome': 'Monitor', 'preco': 1200.0, 'estoque': 6}, {'id': 6, 'nome': 'Produto F', 'preco': 15.5, 'estoque': 100}]
2024-12-03 20:42:03.619 | INFO     | __main__:<module>:22 - 3
2024-12-03 20:42:03.619 | DEBUG    | __main__:<module>:23 - Antigo estoque: 12
2024-12-03 20:42:03.620 | DEBUG    | __main__:<module>:25 - Novo estoque: 10
2024-12-03 20:42:03.620 | INFO     | __main__:<module>:28 - 4
2024-12-03 20:42:03.620 | DEBUG    | __main__:<module>:33 - tamanho da lista 5
2024-12-03 20:42:03.621 | DEBUG    | __main__:<module>:34 - Produtos: [{'id': 1, 'nome': 'Notebook', 'preco': 2000.0, 'estoque': 100}, {'id': 2, 'nome': 'Smartphone', 'preco': 1500.0, 'estoque': 52}, {'id': 3, 'nome': 'Tablet', 'preco': 1000.0, 'estoque': 8}, {'id': 5, 'nome': 'Monitor', 'preco': 1200.0, 'estoque': 6}, {'id': 6, 'nome': 'Produto F', 'preco': 15.5, 'estoque': 100}]
2024-12-03 20:42:03.622 | INFO     | __main__:<module>:37 - 5

[{'id': 1, 'nome': 'Notebook', 'preco': 2000.0, 'estoque': 100},
 {'id': 2, 'nome': 'Smartphone', 'preco': 1500.0, 'estoque': 52},
 {'id': 6, 'nome': 'Produto F', 'preco': 15.5, 'estoque': 100}]

#### Exercício 2: Consultando e Atualizando Dados com SQLite

**Objetivo:** Utilizar o SQLite para realizar operações CRUD em um banco de dados real.

**Enunciado:**

1. Crie um banco de dados SQLite chamado `clientes.db` e uma tabela chamada `clientes` com as colunas:
    - `id` (inteiro, chave primária)
    - `nome` (texto)
    - `email` (texto)
    - `idade` (inteiro)
2. Insira pelo menos 3 registros de clientes na tabela.
3. Atualize a idade de um cliente com base no `id` fornecido.
4. Exclua um cliente da tabela utilizando o `id`.
5. Realize uma consulta para listar todos os clientes com idade superior a 30 anos.

**Dicas:**

- Use as instruções `INSERT INTO`, `UPDATE`, `DELETE` e `SELECT`.
- Utilize a função `commit()` para salvar as mudanças e `fetchall()` para consultar múltiplos registros.

In [ ]:
# 1
logger.info('Criando banco de dados')
conn = sqlite3.connect('clientes.db')
cursor = conn.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS clientes (
                    id INTEGER PRIMARY KEY, 
                    nome TEXT, 
                    email TEXT, 
                    idade INTEGER
                )
""")

# 2
logger.info('Inserindo dados')
cursor.execute("INSERT INTO clientes (nome, email, idade) VALUES (?, ?, ?)", ('João', 'V8t0Q@example.com', 25)) 
cursor.execute("INSERT INTO clientes (nome, email, idade) VALUES (?, ?, ? )", ('Maria', 'xK0wI@example.com', 33))
cursor.execute("INSERT INTO clientes (nome, email, idade) VALUES (?, ?, ? )", ('Pedro', 'g8m8T@example.com', 35))
cursor.execute("INSERT INTO clientes (nome, email, idade) VALUES (?, ?, ? )", ('Ana', 'z8Ft1@example.com', 20))
conn.commit()

# 3
logger.info('Atualizando dados por id')
cursor.execute("UPDATE clientes SET idade = ? WHERE id = ?", (40, 1))
conn.commit()

# 4
logger.info('Deletando dados por id')
cursor.execute("DELETE FROM clientes WHERE id = ?", (3,))
conn.commit()

# 5
logger.info('Consulta com filtro')
cursor.execute("SELECT * FROM clientes WHERE idade > ?", (30,))
logger.debug([cliente for cliente in cursor.fetchall()])
conn.close()

2024-12-03 21:21:01.083 | INFO     | __main__:<module>:4 - Criando banco de dados
2024-12-03 21:21:01.102 | INFO     | __main__:<module>:16 - Inserindo dados
2024-12-03 21:21:01.106 | INFO     | __main__:<module>:24 - Atualizando dados por id
2024-12-03 21:21:01.109 | INFO     | __main__:<module>:29 - Deletando dados por id
2024-12-03 21:21:01.113 | INFO     | __main__:<module>:34 - Consulta com filtro
2024-12-03 21:21:01.113 | DEBUG    | __main__:<module>:36 - [(1, 'João', 'V8t0Q@example.com', 40), (2, 'Maria', 'xK0wI@example.com', 33)]

#### Exercício 3: Removendo Duplicatas em um Banco de Dados

**Objetivo:** Remover dados duplicados de uma tabela.

**Enunciado:**

1. Crie uma tabela `pedidos` em um banco de dados SQLite com as seguintes colunas:
    - `id` (inteiro, chave primária)
    - `cliente_id` (inteiro)
    - `produto` (texto)
    - `quantidade` (inteiro)
    - `data_pedido` (texto)
2. Insira 10 registros na tabela, com alguns dados duplicados (mesmo `cliente_id`, `produto` e `data_pedido`).
3. Remova as duplicatas da tabela, mantendo apenas o registro com o menor `id` para cada grupo de pedidos duplicados.
4. Liste os registros restantes após a remoção das duplicatas.

**Dicas:**

- Para identificar duplicatas, você pode usar a cláusula `GROUP BY` no `SELECT` e depois aplicar um `DELETE` baseado no `rowid`.

In [10]:
conn = sqlite3.connect('pedidos.db')

try:
    logger.info('Inicializando...')
    cursor = conn.cursor()

    logger.info('Executando tabela')
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS pedidos (
            id INTEGER PRIMARY KEY,
            cliente_id INTEGER,
            produto TEXT,
            quantidade INTEGER,
            data_pedido TEXT
        )
    ''')

    logger.info('Adicionando registros...')
    registros = [
        (1, 1, 'Produto A', 2, '2022-01-01'),
        (2, 1, 'Produto B', 3, '2022-01-01'),
        (3, 2, 'Produto A', 2, '2022-01-02'),
        (4, 1, 'Produto A', 2, '2022-01-01'),  
        (5, 3, 'Produto C', 1, '2022-01-03'),
        (6, 1, 'Produto B', 3, '2022-01-01'),   
        (7, 2, 'Produto A', 2, '2022-01-02'),   
        (8, 4, 'Produto D', 4, '2022-01-04'),
        (9, 1, 'Produto A', 2, '2022-01-01'),   
        (10, 2, 'Produto A', 2, '2022-01-02')   
    ]
    cursor.executemany('INSERT INTO pedidos VALUES (?, ?, ?, ?, ?)', registros)

    logger.info('Removendo duplicatas...')
    cursor.execute('''
        DELETE FROM pedidos
        WHERE rowid NOT IN (
            SELECT MIN(rowid)
            FROM pedidos
            GROUP BY cliente_id, produto, data_pedido
        )
    ''')
    logger.info(f"Removidas {cursor.rowcount} duplicatas")

    cursor.execute('SELECT * FROM pedidos')

    for registro in cursor.fetchall():
        print(f"ID: {registro[0]}, Cliente: {registro[1]}, Produto: {registro[2]}, Quantidade: {registro[3]}, Data: {registro[4]}")

except sqlite3.Error as e:
    logger.error(f"Erro no banco de dados: {e}")
    conn.rollback()
    
finally:
    conn.close()

2024-12-04 19:07:16.846 | INFO     | __main__:<module>:4 - Inicializando...
2024-12-04 19:07:16.848 | INFO     | __main__:<module>:7 - Executando tabela
2024-12-04 19:07:16.854 | INFO     | __main__:<module>:18 - Adicionando registros...
2024-12-04 19:07:16.855 | INFO     | __main__:<module>:33 - Removendo duplicatas...
2024-12-04 19:07:16.856 | INFO     | __main__:<module>:42 - Removidas 5 duplicatas

ID: 1, Cliente: 1, Produto: Produto A, Quantidade: 2, Data: 2022-01-01
ID: 2, Cliente: 1, Produto: Produto B, Quantidade: 3, Data: 2022-01-01
ID: 3, Cliente: 2, Produto: Produto A, Quantidade: 2, Data: 2022-01-02
ID: 5, Cliente: 3, Produto: Produto C, Quantidade: 1, Data: 2022-01-03
ID: 8, Cliente: 4, Produto: Produto D, Quantidade: 4, Data: 2022-01-04

#### Exercício 4: Criando um Registro de Vendas

**Objetivo:** Criar um banco de dados de vendas, realizando operações de criação e atualização de registros.

**Enunciado:**

1. Crie um banco de dados SQLite chamado `vendas.db` e crie uma tabela `vendas` com as seguintes colunas:
    - `id` (inteiro, chave primária)
    - `cliente` (texto)
    - `produto` (texto)
    - `quantidade` (inteiro)
    - `preco_total` (real)
    - `data_venda` (texto)
2. Adicione 3 registros de vendas à tabela com dados de clientes, produtos e valores diferentes.
3. Atualize a quantidade e o preço total de uma venda (por exemplo, se um cliente comprou mais unidades do produto).
4. Exclua uma venda de um cliente específico.
5. Liste todas as vendas realizadas após uma data específica (por exemplo, após o dia "2024-11-01").

**Dicas:**

- Para calcular o `preco_total`, multiplique a `quantidade` pelo preço do `produto` antes de adicionar o registro.

In [16]:
conn = sqlite3.connect('vendas.db')

try:
    logger.info('Iniciando')
    cursor = conn.cursor()

    logger.info('Executando tabela')
    cursor.execute(
        '''
        CREATE TABLE IF NOT EXISTS vendas(
            id INTEGER PRIMARY KEY,
            cliente TEXT,
            produto TEXT,
            quantidade INTEGER,
            preco_total REAL,
            data_venda TEXT
        )
        '''
    )

    logger.info('Inserindo registros...')
    registros = [
        (1,'huguinho','produto a', 3, 23.3, '2024-12-01'),
        (2,'zezinho','produto b', 2, 13.33, '2024-11-01'),
        (3,'luisinho','produto c', 1, 11.34, '2024-10-01')
    ]

    cursor.executemany('INSERT INTO vendas VALUES (?, ?, ?, ?, ?, ?) ', registros)
    cursor.execute('SELECT * FROM vendas')
    conn.commit()
    logger.debug([registro for registro in cursor.fetchall()])
      
    logger.info('Atualizando quantidade e o preço total de uma venda')
    cursor.execute("UPDATE vendas SET quantidade = ?, preco_total = ? WHERE id = ?", (10, 113.40, 3))
    conn.commit()
    
    cursor.execute('SELECT * FROM vendas')
    logger.debug([registro for registro in cursor.fetchall()])    
    
    logger.info('Excluindo venda de um cliente específico')
    cursor.execute('DELETE from vendas WHERE id = ?',(2,))
    conn.commit()
    
    cursor.execute('SELECT * FROM vendas')
    logger.debug([registro for registro in cursor.fetchall()])

    logger.info('Filtrando vendas por data')
    cursor.execute('SELECT * FROM vendas WHERE data_venda > ?',("2024-10-01",))
    logger.debug([registro for registro in cursor.fetchall()])

    conn.commit()
    
except sqlite3.Error as e:
    logger.error(f'Erro no banco de dados: {e}')
    conn.rollback()
except ValueError as e:
    logger.error(f'Erro ao validar banco de dados: {e}')
    conn.rollback()
finally:
    conn.close()
    logger.info('Conexão com o banco de dados fechada.')

2024-12-04 20:25:09.995 | INFO     | __main__:<module>:4 - Iniciando
2024-12-04 20:25:09.996 | INFO     | __main__:<module>:7 - Executando tabela
2024-12-04 20:25:10.015 | INFO     | __main__:<module>:21 - Inserindo registros...
2024-12-04 20:25:10.019 | DEBUG    | __main__:<module>:31 - [(1, 'huguinho', 'produto a', 3, 23.3, '2024-12-01'), (2, 'zezinho', 'produto b', 2, 13.33, '2024-11-01'), (3, 'luisinho', 'produto c', 1, 11.34, '2024-10-01')]
2024-12-04 20:25:10.019 | INFO     | __main__:<module>:33 - Atualizando quantidade e o preço total de uma venda
2024-12-04 20:25:10.022 | DEBUG    | __main__:<module>:38 - [(1, 'huguinho', 'produto a', 3, 23.3, '2024-12-01'), (2, 'zezinho', 'produto b', 2, 13.33, '2024-11-01'), (3, 'luisinho', 'produto c', 10, 113.4, '2024-10-01')]
2024-12-04 20:25:10.022 | INFO     | __main__:<module>:40 - Excluindo venda de um cliente específico
2024-12-04 20:25:10.025 | DEBUG    | __main__:<module>:45 - [(1, 'huguinho', 'produto a', 3, 23.3, '2024-12-01'), (3, 'luisinho', 'produto c', 10, 113.4, '2024-10-01')]
2024-12-04 20:25:10.025 | INFO     | __main__:<module>:47 - Filtrando vendas por data
2024-12-04 20:25:10.026 | DEBUG    | __main__:<module>:49 - [(1, 'huguinho', 'produto a', 3, 23.3, '2024-12-01')]
2024-12-04 20:25:10.026 | INFO     | __main__:<module>:61 - Conexão com o banco de dados fechada.

#### Exercício 5: Criando e Lendo Relatórios de Usuários

**Objetivo:** Criar e consultar dados em um sistema de usuários.

**Enunciado:**

1. Crie um banco de dados SQLite chamado `usuarios.db` e crie uma tabela `usuarios` com as colunas:
    - `id` (inteiro, chave primária)
    - `nome` (texto)
    - `email` (texto)
    - `cargo` (texto)
2. Adicione pelo menos 5 usuários diferentes com informações variadas sobre nome, email e cargo.
3. Atualize o cargo de um usuário para "Engenheiro de Dados".
4. Liste todos os usuários com o cargo de "Engenheiro de Dados".
5. Exclua um usuário que não tenha mais vínculo com o sistema.
6. Gere um relatório com o número total de usuários cadastrados e o cargo mais frequente.

**Dicas:**

- Para listar o cargo mais frequente, use a função `GROUP BY` com `COUNT()` no SQL.
- Use `fetchall()` para recuperar múltiplos registros e `fetchone()` para recuperar um único.

In [69]:
conn = sqlite3.connect('usuarios.db')
try:
    logger.info('Iniciando')
    cursor = conn.cursor()

    logger.info('Criando tabelas')
    cursor.execute(
        '''
        CREATE TABLE IF NOT EXISTS usuarios (
            id INTEGER PRIMARY KEY,
            nome TEXT,
            email TEXT,
            cargo TEXT
        )
        '''
    )
    conn.commit()
    
    logger.info('Inserindo registros')
    registros = [(i+1, faker.name(), faker.email(), faker.job()) for i in range(10)]
    cursor.executemany('INSERT INTO usuarios VALUES (?, ?, ?, ?)',registros)    
    conn.commit()
    cursor.execute('SELECT * FROM usuarios')
    logger.debug([registro for registro in cursor.fetchall()])

    logger.info('Atualizando cargo de dois usuário')
    cursor.execute('UPDATE usuarios SET cargo =? WHERE id = ?',('Engenheiro de Dados', random.randint(1,10)))
    cursor.execute('UPDATE usuarios SET cargo =? WHERE id = ?',('Engenheiro de Dados', random.randint(1,10)))
    conn.commit()

    logger.info('Filtrando registros onde cargo for engenheiro de dados')
    cursor.execute('SELECT * FROM usuarios WHERE cargo = ?',('Engenheiro de Dados',))
    logger.debug([registro for registro in cursor.fetchall()])

    logger.info('Exclusão de registro de usuário')
    cursor.execute('DELETE FROM usuarios WHERE id = ?', (random.randint(1,10),))
    conn.commit()

    logger.info('Gerando relatório')
    cursor.execute('SELECT COUNT(*) FROM usuarios')
    logger.debug(f'Total de usuários cadastrados: {cursor.fetchone()[0]}')

    cursor.execute('SELECT cargo, COUNT(*) AS total FROM usuarios GROUP BY cargo ORDER BY total DESC LIMIT 1')
    cargo_mais_frequente = cursor.fetchone()
    
    if cargo_mais_frequente:
        logger.debug(f'Cargo mais frequente: "{cargo_mais_frequente[0]}" com {cargo_mais_frequente[1]} registros')
    else:
        logger.error('Nenhum cargo encontrado ou banco de dados vazio.')


except sqlite3.Error as e:
    logger.error(f'Erro no banco de dados: {e}')
    conn.rollback()
except ValueError as e:
    logger.error(f'Erro ao validar banco de dados: {e}')
    conn.rollback()
finally:
    conn.close()
    logger.info('Conexão com o banco de dados fechada.')

2024-12-04 21:53:41.851 | INFO     | __main__:<module>:3 - Iniciando
2024-12-04 21:53:41.852 | INFO     | __main__:<module>:6 - Criando tabelas
2024-12-04 21:53:41.857 | INFO     | __main__:<module>:19 - Inserindo registros
2024-12-04 21:53:41.862 | DEBUG    | __main__:<module>:24 - [(1, 'Daniel Perez', 'mpalmer@example.net', 'Scientist, audiological'), (2, 'Angela Hayes', 'mccormickmelissa@example.com', 'Technical brewer'), (3, 'Sarah Dixon', 'brendamorrison@example.net', 'Environmental consultant'), (4, 'Jennifer Johnson', 'aingram@example.com', 'Theatre manager'), (5, 'Jacob Cohen', 'matthewsalexa@example.org', 'Scientist, water quality'), (6, 'Johnny Anderson', 'chernandez@example.com', 'Sales executive'), (7, 'Allen Hester', 'gjohnson@example.net', 'Restaurant manager'), (8, 'Erin Garcia', 'doris35@example.com', 'Air cabin crew'), (9, 'Justin Beard', 'fcasey@example.org', 'Recycling officer'), (10, 'Elaine Hall', 'katrinagregory@example.org', 'Tourism officer')]
2024-12-04 21:53:41.863 | INFO     | __main__:<module>:26 - Atualizando cargo de dois usuário
2024-12-04 21:53:41.866 | INFO     | __main__:<module>:31 - Filtrando registros onde cargo for engenheiro de dados
2024-12-04 21:53:41.866 | DEBUG    | __main__:<module>:33 - [(8, 'Erin Garcia', 'doris35@example.com', 'Engenheiro de Dados'), (9, 'Justin Beard', 'fcasey@example.org', 'Engenheiro de Dados')]
2024-12-04 21:53:41.867 | INFO     | __main__:<module>:35 - Exclusão de registro de usuário
2024-12-04 21:53:41.869 | INFO     | __main__:<module>:39 - Gerando relatório
2024-12-04 21:53:41.870 | DEBUG    | __main__:<module>:41 - Total de usuários cadastrados: 9
2024-12-04 21:53:41.870 | DEBUG    | __main__:<module>:47 - Cargo mais frequente: "Engenheiro de Dados" com 2 registros
2024-12-04 21:53:41.871 | INFO     | __main__:<module>:60 - Conexão com o banco de dados fechada.